header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    .logo {
        h1, h3 {
            margin: 0;
        }
    }

    .navigation {
        display: flex;

        a {
            margin: 10px;
            padding: 10px;
            position: relative;
        }

        .nav-active {
            &::after {
                content: "";
                width: 85%;
                height: 5px;
                background: $color-1;
                position: absolute;
                bottom: 1px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    [id*="menu"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    .navigation {
        li {
            margin: 25px 5px;
        }
    }

    #menuSite.refuge {
        background: #404040;
        box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);

        .logo {
            height: 40px;
        }

        .navigation {
            li {
                margin: 5px 5px;

                a {
                    color: #fff;
                }
            }
        }

        .profil {
            &::before {
                color: #fff;
            }

            &::after {
                content: '';
                position: absolute;
                top: -12px;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
                bottom: -12px;
                left: -1rem;
                right: -1rem;
                background: #2d2d2d;
                z-index: 0;
            }
        }
    }

    #menuRefuge {
        flex: 0 0 100%;
        display: flex;
        justify-content: space-between;
    }
}

.profil {
    &::before {
        content: '\f2bd';
        position: relative;
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        margin-right: 10px;
        z-index: 1;
    }

    span {
        position: relative;
        z-index: 1;
    }
}