.TPL_PETS_REFUGE {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        @include w100;
        background: #f0f0f0;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
        z-index: -1;
    }

    &::after {
        content: '\f1b0';
        position: absolute;
        top: 50%;
        left: #{calc((50% - 50vw) + 50px)};
        @include fas;
        font-weight: 900;
        font-size: 12rem;
        color: #e6e6e6;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        transform: translateY(-50%);
    }
}