@for $liste_nb from 1 through 6 {
    $padding: 30px;

    .liste_#{$liste_nb} {
        display: flex;
        flex-wrap: wrap;

        .item {
            @if $liste_nb == 1 {
                flex: 0 0 100%;
                display: flex;

                .visuel {
                    max-width: 250px;
                    width: 100%;
                }

                .itemInfo {
                    span {
                        display: block;
                        margin-bottom: 1rem;
                    }
                }
            }

            @if $liste_nb > 1 {
                flex: #{0 0 calc((100% / #{$liste_nb}) - #{$padding})};
                margin-left: (($liste_nb * $padding) / ($liste_nb - 1));

                &:nth-child(#{$liste_nb}n+1) {
                    margin-left: 0;
                }
            }
        }
    }
}

[class*="liste_"] {
    padding: 0;

    .item {
        position: relative;
        margin-bottom: 35px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background: #fff;
        overflow: hidden;
        z-index: 0;

        &:hover, &:focus, &:active {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

            .visuel {
                &::before {
                    opacity: 1;
                }
            }
        }

        .visuel {
            position: relative;
            overflow: hidden;
            @include tr;

            &::before {
                content: '\f1b0';
                @include fas;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.25);
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                @include tr;
            }

            img {
                display: flex;
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include tr;
            }

        }

        .itemInfo {
            padding: 15px 20px 25px;
            box-sizing: border-box;

            a {
                @include ext;

                span {
                    font-weight: 300;
                    font-size: 1.1rem;
                }
            }
        }
    }
}


.ul_slider {
    &.slick-slider {
        overflow: hidden;

        .slick-track {
            display: flex;
        }

        .slick-prev {
            top: 75px;
            left: -65px;

            &::before {
                content: fa-content($fa-var-chevron-left);
                @extend .fas;
                font-size: 3rem;
                color: #d1e0f5;
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
            }
        }

        .slick-next {
            top: 75px;
            right: -25px;

            &::before {
                content: fa-content($fa-var-chevron-right);
                @extend .fas;
                font-size: 3rem;
                color: #d1e0f5;
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
            }
        }

        .slick-prev, .slick-next {
            position: absolute;
            transform: translateY(-50%);
            font-size: 0;
            border: 0;
            background: transparent;
            cursor: pointer;
        }
    }

    .slick-slide {
        max-width: 370px;
        width: 100% !important;
        margin-right: 30px;
    }

    .item {
        display: flex !important;
        align-items: flex-end;
        position: relative;
        min-height: 150px;
        padding: 20px;
        box-sizing: border-box;
        background: #589bff;
        box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
        border-radius: 5px;

        &.red {
            background: #df4343;
            max-width: 300px;
        }

        a, button {
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.4rem;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            background: transparent;
            border: 0;
            cursor: pointer;

            &.user {
                &::before {
                    content: fa-content($fa-var-user);
                    @extend .fas;
                    position: absolute;
                    top: 20px;
                    right: 35px;
                    text-shadow: none;
                    font-size: 3rem;
                    color: rgba(255, 255, 255, 0.3);
                }
            }

            span {
                position: relative;
                z-index: 2;
            }

            &:hover, &:focus {

                &::after {
                    background: rgba(0, 0, 0, 0.2);
                }
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: transparent;
                transition: all 0.3s;
            }
        }

        &:hover, &:focus {
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.0);
        }
    }
}

.mBot {
    margin-bottom: 50px;
}

.count {
    display: block;
    font-size: 3rem;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 3rem;
    border-radius: 15px;
    background: $color-3;
    color: $color-1;
    box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3);

    & > div {
        flex: 0 0 #{calc(100% / 3)};
    }

    ul {
        padding: 0.5rem 2rem;

        input[type="radio"] {
            transform: translate(-5px, 1px);
        }
    }
}

.cancel {
    margin: 20px auto 30px;
    width: 100%;

    h5 {
        border: 1px $color-3 solid;
        text-align: center;
        width: 180px;
        margin: 0 auto;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background: $color-1;
            border-color: $color-1;
        }
    }
}

.voirPlus {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    background: $bleu;
    border: 2px solid $bleu;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 3rem;
}
