.refuge {
    .texte.innerCenter {
        &::before {
            content: '';
            display: inline-block;
            height: #{calc(100% + 200px)};
            position: absolute;
            left: 640px;
            top: 0;
            right: #{calc((100% - 640px) - 100vw)};
            background: red;
            z-index: -1;
        }
    }
}


.accroche.refuge {
    display: block;
    overflow: visible;

    .slick-slider {
        max-width: 640px;

        .slick-list {
            position: relative;
            height: 450px;
            width: 640px;
            overflow: hidden;
        }

        .slick-track {
            display: flex;
        }

        .slick-arrow, .slick-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .slick-dots {
            display: flex !important;
            justify-content: center;
            padding: 2px 12px;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 40px;

            button {
                appearance: none;
                background: transparent;
                border: 0;
                font-size: 0;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border: 2px solid #fff;
                    border-radius: 100%;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    transition: all 0.3s;
                }
            }

            .slick-active {
                button::before {
                    background: #fff;
                }
            }
        }
    }


    .texte {
        position: initial;
        display: flex;
        justify-content: center;
        margin-left: 640px;

        & > div {
            max-width: 600px;
            width: 100%;
            padding: 20px 40px 40px;
            box-shadow: 0 0 3px rgba(0,0,0,0.2);

            margin-top: 75px;
        }
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
    }
}

[class*="MISENAVANT_"] {
    max-width: 970px;
    width: 100%;
    margin: 100px auto;
    padding: 3rem 5rem;
    box-sizing: border-box;
}

.MISENAVANT_HISTOIRE {
    background: yellow;
}

.MISENAVANT_ADOPTION {
    background: #ff8300;

    h2 {
        margin: 0;
    }

    #btn-adoption {
        margin-left: 50px;
    }
}

.MISENAVANT_QUESTION {
    background: lightblue;
}