.flexPage {
    display: flex;
    flex-wrap: wrap;

    .w400px {
        width: 100%;
        max-width: 400px;
        padding: 5rem 3rem;
        box-sizing: border-box;
        background: #ededed;
    }

    .w100-400px {
        width: #{calc(100% - 400px)};
        padding: 3rem;
        box-sizing: border-box;
    }
}