#header_super_admin {
    display: flex;
    justify-content: center;

    li {
        button {
            padding: 10px 20px;
            margin: 0 10px;
            color: #fff;
            border-radius: 5px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;

            &.blue {
                background: #3846ef;
                border: 2px solid #3846ef;

                &:hover, &:focus {
                    background: #3846ef;
                }
            }

            &.red {
                background: #ef3842;
                border: 2px solid #ef3842;

                &:hover, &:focus {
                    background: #ff767d;
                }
            }
        }
    }
}